<div class="container">
  <h1>
    Booking #<span class="text-primary ">{{ booking?.id }}</span>
  </h1>

  <hr>
  <button class="btn btn-secondary" [routerLink]="['/bookings']">Back to Bookings</button>
  <button class="btn btn-primary ms-2" [routerLink]="['/bookings/edit', booking.id]">Edit</button>
  <hr>

  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          From
        </div>
        <div class="col-md-4">
          <span class="fw-bold">{{ booking?.from }}</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          To
        </div>
        <div class="col-md-4">
          <span class="fw-bold">{{ booking?.to }}</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          Pickup Time
        </div>
        <div class="col-md-4">
          <span class="fw-bold">{{ booking?.pickUpTime | date:'short' }}</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          Price
        </div>
        <div class="col-md-4">
          <span class="fw-bold">{{ booking?.price }}</span>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          Paid
        </div>
        <div class="col-md-4">
          <ng-container *ngIf="booking?.isPaid; else elseIsPaidTemplate">
            <i class="fa-solid fa-circle-check text-success"></i>
          </ng-container>
          <ng-template #elseIsPaidTemplate>
            <i class="fa-solid fa-circle-xmark text-danger"></i>
          </ng-template>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          Paid on
        </div>
        <div class="col-md-4">
          <span class="fw-bold">{{ booking.paymentTime
            | date:'short' }}</span>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          Payment Method
        </div>
        <div class="col-md-4">
          <span [ngSwitch]="booking?.paymentMethod">
            <p *ngSwitchCase="paymentMethodEnum.Credit">
              <i class="fa-brands fa-cc-visa text-primary"></i>
            </p>
            <p *ngSwitchCase="paymentMethodEnum.Cash">
              <i class="fa-solid fa-dollar-sign text-success"></i>
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>


  <hr class="mt-4">

  <h2 class="text-primary mt-4">Passengers</h2>
  <table class="table table-hoverable table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let passenger of booking.passengers">
        <td>{{ passenger.fullName }}</td>
        <td>{{ passenger.phoneNumber }}</td>
        <td>{{ genderEnum[passenger.gender] }}</td>
        <td>{{ passenger.age }}</td>
      </tr>
    </tbody>
  </table>


</div>