<div class="container">
  <h1>Drivers</h1>
  <hr>
  <button class="btn btn-primary" [routerLink]="['create']">Create Driver</button>
  <hr>
  <table class="table table-striped" *ngIf="showLoader == false">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>SSN</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers">
        <td>{{ driver.fullName }}</td>
        <td>{{ driver.ssn }}</td>
        <td>{{ driver.age }}</td>
        <td>{{ driver.gender }}</td>
        <td>
          <a [routerLink]="['details', driver.id]" title="Details">
            <i class="fa-solid fa-circle-info text-info"></i>
          </a>
          <a [routerLink]="['edit', driver.id]" title="Edit">
            <i class="fa-solid fa-pen-to-square ms-2"></i>
          </a>
          <a href="#" title="Edit">
            <i class="fa-solid fa-trash ms-2 text-danger"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center mt-5" *ngIf="showLoader">
    <div class="spinner-border text-warning wp-100 hp-100" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>