<div class="container">
  <h1>Drivers</h1>
  <hr>
  <button class="btn btn-primary" [routerLink]="['create']">Create Driver</button>
  <hr>
  <table class="table table-striped" *ngIf="showLoader == false">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>SSN</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers">
        <td>{{ driver.fullName }}</td>
        <td>{{ driver.ssn }}</td>
        <td>{{ driver.age }}</td>
        <td>{{ genderEnum[driver.gender] }}</td>
        <td>
          <a [routerLink]="['details', driver.id]" title="Details">
            <i class="fa-solid fa-circle-info text-info"></i>
          </a>
          <a [routerLink]="['edit', driver.id]" title="Edit">
            <i class="fa-solid fa-pen-to-square ms-2"></i>
          </a>
          <a class="pointer" title="Delete" (click)="openDeleteModal(deleteModalTemplate, driver)">
            <i class="fa-solid fa-trash ms-2 text-danger"></i>
          </a>
          <a class="pointer" title="Assign Cars" (click)="openAssignCarsModal(AssignCarsModalTemplate, driver)">
            <i class="fa-solid fa-taxi ms-2"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center mt-5" *ngIf="showLoader">
    <div class="spinner-border text-warning wp-100 hp-100" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <ng-template #deleteModalTemplate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Driver</h4>
    </div>
    <div class="modal-body">
      <h5>Are you sure you want to delete <span class="text-danger ">{{ selectedDriver.fullName }}</span>?</h5>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('deleted')">Delete</button>
    </div>
  </ng-template>

  <ng-template #AssignCarsModalTemplate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Assign Cars</h4>
    </div>
    <div class="modal-body">
      <ng-select class="custom-select2" [items]="availableCarsLookup" bindLabel="value" bindValue="key"
        (change)="updateSelectedCars()" [multiple]="true" placeholder="Select Cars">
      </ng-select>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('assign')">Assign</button>
    </div>
  </ng-template>

</div>