<div class="container">
  <h1>Driver: <span class="text-primary">{{ driver?.fullName }}</span></h1>
  <hr>

  <div class="row">
    <div class="col-md-2">Id</div>
    <div class="col-md-4">{{ driver?.id }}</div>
  </div>

  <div class="row mt-2">
    <div class="col-md-2">Social Security Number</div>
    <div class="col-md-4">{{ driver?.ssn }}</div>
  </div>

  <div class="row mt-2">
    <div class="col-md-2">Age</div>
    <div class="col-md-4">{{ driver?.age }}</div>
  </div>

  <div class="row mt-2">
    <div class="col-md-2">Gender</div>
    <div class="col-md-4">{{ driver?.gender }}</div>
  </div>

  <div class="mt-4">
    <button class="btn btn-secondary" [routerLink]="['/drivers']">Back</button>
    <button class="btn btn-primary ms-2" [routerLink]="['/drivers/edit', driver?.id]">Edit</button>
  </div>

  <hr>
  <h5>Driver Cars</h5>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>Title</th>
        <th>Production Year</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of driver?.cars">
        <td>{{ car.title }}</td>
        <td>{{ car.productionYear | date:"YYYY" }}</td>
        <td>
          <a class="pointer" title="Unassign Car" (click)="openUnassignCarModal(unassignCarModalTemplate, car)">
            <i class="fa-solid fa-link-slash text-warning"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<ng-template #unassignCarModalTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Unassign Car</h4>
  </div>
  <div class="modal-body">
    <h5>Are you sure you want to unassign <span class="text-danger ">{{ selectedCar.title }}</span>?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-warning" (click)="modal.close('unassign')">Unassign</button>
  </div>
</ng-template>