<div class="container">
  <h1>
    <ng-container *ngIf="pageMode == pageModeEnum.Create; else elsePageHeader">
      <span>Create a new driver</span>
    </ng-container>
    <ng-template #elsePageHeader>
      <span>Edit Driver </span> <span class="text-primary">{{ driverFullName }}</span>
    </ng-template>

  </h1>
  <hr>
  <form [formGroup]="driverForm" (ngSubmit)="submitForm()">

    <div class="form-floating">
      <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
      <label for="firstName">First Name</label>
    </div>

    <div class="form-floating mt-3">
      <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
      <label for="lastName">Last Name</label>
    </div>

    <div class="form-floating mt-3">
      <input type="text" class="form-control" id="ssn" placeholder="SSN" formControlName="ssn">
      <label for="ssn">SSN</label>
    </div>

    <div class="form-floating mt-3">
      <input type="datetime-local" class="form-control" id="dateOfBirth" placeholder="Date of Birth"
        formControlName="dateOfBirth">
      <label for="ssn">Date of Birth</label>
    </div>

    <div class="form-floating mt-3">
      <select class="form-select" id="gender" formControlName="gender">
        <option value="0">Male</option>
        <option value="1">Female</option>
      </select>
      <label for="gender">Gender</label>
    </div>

    <div class="mt-4">
      <button class="btn btn-secondary" [routerLink]="['/drivers']">Cancel</button>
      <button class="btn btn-primary ms-2" type="submit">
        <ng-container *ngIf="pageMode == pageModeEnum.Create; else submitButtonEdit">
          Create
        </ng-container>
        <ng-template #submitButtonEdit>
          Save
        </ng-template>

      </button>
    </div>

  </form>

</div>