<div class="container">
  <h1>Create a new driver</h1>
  <hr>
  <form [formGroup]="driverForm" (ngSubmit)="submitForm()">

    <div class="form-floating">
      <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
      <label for="firstName">First Name</label>
    </div>

    <div class="form-floating mt-3">
      <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
      <label for="lastName">Last Name</label>
    </div>

    <div class="form-floating mt-3">
      <input type="text" class="form-control" id="ssn" placeholder="SSN" formControlName="ssn">
      <label for="ssn">SSN</label>
    </div>

    <div class="form-floating mt-3">
      <input type="datetime-local" class="form-control" id="dateOfBirth" placeholder="Date of Birth"
        formControlName="dateOfBirth">
      <label for="ssn">Date of Birth</label>
    </div>

    <div class="form-floating mt-3">
      <select class="form-select" id="gender" formControlName="gender">
        <option value="0">Male</option>
        <option value="1">Female</option>
      </select>
      <label for="gender">Gender</label>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary" type="submit">
        Create
      </button>
    </div>

  </form>

</div>